<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Page specific JavaScript -->
<script src="static/js/controllers.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      {% for c in controllers %}
      <div class="card">
        <div class="card-header bg-info">
          <h5 class="text-white">{{ c.name }}</h5>
        </div>
        <div class="card-body">
          <div class="table-full-width">
            <table class="table">
              <tbody>
                <tr>
                  <td class="align-middle">INPUT</td>
                  <td class="text-right align-middle">Pull-up/down:</td>
                  <td class="align-middle text-center"><input type="checkbox" class="triggerState" data-toggle="toggle" checked="" data-onstyle="info" data-on="UP" data-off="DOWN" data-size="small"></td>
                </tr>
                <tr>
                  <td class="align-middle">OUTA</td>
                  <td class="text-right align-middle">Default State:</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" data-onstyle="info" data-size="small"></td>
                </tr>
                <tr>
                  <td class="align-middle">OUTB</td>
                  <td class="text-right align-middle">Default State:</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" data-onstyle="info" data-size="small"></td>
                </tr>
                <tr>
                  <td class="align-middle">OUTC</td>
                  <td class="text-right align-middle">Default State:</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" data-onstyle="info" data-size="small"></td>
                </tr>
                <tr>
                  <td class="align-middle">OUTD</td>
                  <td class="align-middle">Default State</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" data-onstyle="info" data-size="small"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class-"card-footer alert-info">
          <div class="card-footer stats">Status:&nbsp<span id="{{ c.id }}-status">Disconnected</span></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
