<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Page specific JavaScript -->
<script src="static/js/controllers.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      {% for cid, data in controllers.items() %}
      <div class="card" id="{{ cid }}">
        <div class="card-header bg-info">
          <h5 class="text-white">Controller {{ cid }}</h5>
        </div>
        <div class="card-body">
          <div class="table-full-width">
            <table class="table">
              <tbody>
                <tr>
                  <td class="align-middle">INPUT</td>
                  <td class="align-middle text-right">Pull-up/down:</td>
                  <td class="align-middle text-center"><input type="checkbox" class="triggerState" data-toggle="toggle" {% if data.input == "1" %}checked=""{% endif %} data-onstyle="info" data-on="UP" data-off="DOWN" data-size="small" data-port="input"></td>
                </tr>
                <tr>
                  <td class="align-middle">A</td>
                  <td class="align-middle text-right">Default State:</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" {% if data.A == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="A"></td>
                </tr>
                <tr>
                  <td class="align-middle">B</td>
                  <td class="align-middle text-right">Default State:</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" {% if data.B == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="B"></td>
                </tr>
                <tr>
                  <td class="align-middle">C</td>
                  <td class="align-middle text-right">Default State:</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" {% if data.C == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="C"></td>
                </tr>
                <tr>
                  <td class="align-middle">D</td>
                  <td class="align-middle text-right">Default State:</td>
                  <td class="align-middle text-center"><input type="checkbox" data-toggle="toggle" {% if data.D == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="D"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class-"card-footer alert-info">
          <div class="card-footer stats">Status:&nbsp<span id="{{ cid }}-status">Disconnected</span></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
