<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Page specific JavaScript -->
<script src="static/js/controllers.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <span class="h4">Controller Default States</span>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <caption>Gray: Disconnected</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">ID</th>
          <th scope="col" class="text-center">Input Pullup</th>
          <th scope="col" class="text-center">Port A</th>
          <th scope="col" class="text-center">Port B</th>
          <th scope="col" class="text-center">Port C</th>
          <th scope="col" class="text-center">Port D</th>
        </tr>
      </thead>
      <tbody>
        {% for hexid, data in controllers.items() %}
        <tr id="{{ data.cid }}" class="table-secondary" data-hexid="{{ hexid }}">
          <td class="align-middle">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" name="cname" readonly="readonly" value="{{ data.name }}"/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Rename</button>
              </div>
            </div>
          </td>
          <td class="align-middle">
            {{ hexid }}
          </td>
          <td class="align-middle text-center">
            <input type="checkbox" class="triggerState" data-toggle="toggle" {% if data.input == "1" %}checked=""{% endif %} data-onstyle="info" data-on="UP" data-off="DOWN" data-size="small" data-port="input">
          </td>
          <td class="align-middle text-center">
            <input type="checkbox" data-toggle="toggle" {% if data.A == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="A">
          </td>
          <td class="align-middle text-center">
            <input type="checkbox" data-toggle="toggle" {% if data.B == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="B">
          </td>
          <td class="align-middle text-center">
            <input type="checkbox" data-toggle="toggle" {% if data.C == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="C">
          </td>
          <td class="align-middle text-center">
            <input type="checkbox" data-toggle="toggle" {% if data.D == "1" %}checked=""{% endif %} data-onstyle="info" data-size="small" data-port="D">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
