<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Page specific JavaScript -->
<script src="static/js/dashboard.js"></script>

<div id="dashboard" style="height:86vh"></div>

<!-- Sliding properties sidebar -->
<div id="editOperator" class="my-auto" style="height: 28vh">
	<div class="container">
		<form class="form-inline" id="editOperator">
			<input type="hidden" name="type" id="op-type" />
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><h5>Properties</h5></li>
				<li class="list-group-item edit-title">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Name</span>
						</div>
						<input type="text" class="form-control" id="title" name="title">
					</div>
				</li>
				<li class="list-group-item edit-timer">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">After</span>
						</div>
						<input type="text" class="form-control w-25" id="timer-param1" name="param1">
						<div class="input-group-append">
							<span class="input-group-text">s</span>
						</div>
					</div>
				</li>
				<li class="list-group-item edit-interval">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Every</span>
						</div>
						<input type="text" class="form-control w-25" id="interval-param1" name="param1">
						<div class="input-group-append">
							<span class="input-group-text">s</span>
						</div>
					</div>
				</li>
				<li class="list-group-item edit-random">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Range</span>
						</div>
						<input type="text" class="form-control w-25" id="random-param1" name="param1">
						<input type="text" class="form-control w-25" id="random-param2" name="param2">
						<div class="input-group-append">
							<span class="input-group-text">s</span>
						</div>
					</div>
				</li>
				<li class="list-group-item edit-output edit-input edit-link">
					&nbsp;
				</li>
				<li class="list-group-item">
					<button type="submit" class="btn btn-success" id="saveSelectedOp"><i class="fas fa-check"></i></button>
					<button type="button" class="btn btn-secondary" id="cancelEdit"><i class="fas fa-ban"></i></button>
					<button type="button" class="btn btn-danger" id="deleteSelectedOp"><i class="fas fa-trash"></i></button>
					<button type="button" class="btn btn-danger" id="deleteSelectedLink"><i class="fas fa-trash"></i></button>
				</li>
			</ul>
		</form>
	</div>
</div>
{% endblock %}
